// BC DevHub Theme Variables
$primary-color: #003366;
$secondary-color: #38598A;
$accent-color: #FCBA19;
$background-color: #F2F2F2;
$text-color: #313132;
$link-color: #1A5A96;
$input-color: #606060;
$error-color: #D8292F;
$success-color: #2E8540;

$white: #ffffff;
$gray: gray;
$black: #000000;

$border-color: lighten($input-color, 25%);

// Global Vuetify Variables