// BC DevHub Theme Variables
$primary-color: #003366;
$secondary-color: #38598a;
$accent-color: #fcba19;
$background-color: #f2f2f2;
$text-color: #313132;
$link-color: #1a5a96;
$input-color: #606060;
$error-color: #d8292f;
$success-color: #2e8540;

$white: #ffffff;
$gray: gray;
$black: #000000;

$border-color: lighten($input-color, 25%);

$active: $success-color;
$historical: $accent-color;

// Global Vuetify Variables
$timeline-dot-small-size: 0px;
$timeline-inner-dot-small-size: 8px;
$timeline-divider-width: 24px;
$timeline-wedge-size: 0px;